pip 
beautifulsoup4 
requests  
pyarrow  
langchain 
typing-inspect==0.8.0 
typing_extensions==4.5.0
chromadb
tiktoken
beautifulsoup4
requests==2.31.0
pandas
pyarrow==8.0.0
fastparquet
pydantic==1.10.9
huggingface-hub==0.16.4
sentence-transformers==2.2.2
streamlit
pypdf
